[submodule "lib-java-file-utilities"]
	path = lib-java-file-utilities
	url = https://github.com/wrldwzrd89/lib-java-file-utilities
[submodule "lib-java-images"]
	path = lib-java-images
	url = https://github.com/wrldwzrd89/lib-java-images
[submodule "lib-java-random-range"]
	path = lib-java-random-range
	url = https://github.com/wrldwzrd89/lib-java-random-range
[submodule "lib-java-native-integration"]
	path = lib-java-native-integration
	url = https://github.com/wrldwzrd89/lib-java-native-integration
[submodule "lib-java-storage"]
	path = lib-java-storage
	url = https://github.com/wrldwzrd89/lib-java-storage
[submodule "lib-java-updater"]
	path = lib-java-updater
	url = https://github.com/wrldwzrd89/lib-java-updater
[submodule "lib-java-picture-picker"]
	path = lib-java-picture-picker
	url = https://github.com/wrldwzrd89/lib-java-picture-picker
[submodule "java-vorbis-support"]
	path = java-vorbis-support
	url = https://github.com/retropipes/java-vorbis-support.git
